.HeaderPageMainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    background-color: var(--whitecolor);
}
.HeaderPageNavContainer{
    display: flex;
    align-items: center;
    padding: 1rem;
}
.HeaderPageLogo{
    width: 15%;
    height: 20%;
}
.HeaderPageNavContainerLeft{
    display: flex;
    width: 100%;
    gap: 5px;
    align-items: center;
}
.HeaderPageNavContainerLeft p
{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px;
}
.HeaderPageBackIcon{
    height: 50px;;
}
.HeaderPageNavContainerRight{
    display: flex;
    width: 35%;
}
.HeaderPagesearch
{
    background: #eff7ff;
    height: 41px;
    margin-top: 5px;
}
.HeaderPagesearch .MuiInputBase-root
{
    height: 36px;
}
.HeaderPagesearch .css-1umw9bq-MuiSvgIcon-root
{
    color: #3a92fa;
}
.HeaderPagesearch input
{
    padding: 10px 0px !important;
}