.LoginPageMainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  height: 100vh;
  background-color: #ebedf3;
}
.LoginPageMainCart {
  display: flex;
  width: 60%;
  height: 75%;
}
.LoginContentCart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(140deg, #2573d1, #041d4b);
  width: 40%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1rem 2rem;
}
.LoginContentCartTwo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--whitecolor);
}
.LoginContentCartTitleImg {
  width: 40%;
  margin: 2rem;
}
.LoginContentCartImg {
  height: 72%;
}
.LoginContentCartTitleContainer {
  margin: 1rem 0rem;
}
.LoginContentCartTitleContainerText {
  margin: 0rem;
  color: var(--whitecolor);
  font-style: normal;
  font-family: var(--defaultFontFamily);
  font-weight: var(--font-weight_600);
  font-size: var(--font-size_26);
  letter-spacing: 2px;
}
.LoginPageInputContainer {
  display: flex;
  flex-direction: column;
}
.LoginPageInputContainerText {
  color: var(--whitecolor);
  font-family: var(--defaultFontFamily);
  font-size: var(--font-size_16);
  font-weight: var(--font-weight_400);
  letter-spacing: 0.3px;
}
.LoginPageCartPasswordRememberContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LoginPageCartPasswordRememberContent {
  display: flex;
  align-items: center;
  width: 50%;
}
.LoginPageCartPasswordRememberContentIcon {
  color: var(--whitecolor) !important;
}
.LoginButton {
  color: var(--blueColor);
  font-family: var(--defaultFontFamily);
  font-size: var(--font-size_18);
  font-weight: var(--font-weight_700);
  letter-spacing: 0.3px;
  background-color: var(--whitecolor);
  border-radius: 50px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.LoginButton:focus,
.LoginButton:active {
  border: none;
}
.registerErrormsg {
  font-size: var(--font-size_12);
  font-weight: var(--font-weight_400);
  color: var(--redColor);
  letter-spacing: 2 0.3rem;
  letter-spacing: 0.1rem;
}
